* {
  padding: 0;
  margin: 0;
  border: 0;
}

/*--Меняет отсчёт ширины блока для более удобной вёрстки--*/
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*--Убирает линии обводки у некоторых браузеров--*/
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

/*--Делает теги блочными--*/
header,
nav,
aside,
footer {
  display: block;
}

/*--Параметры, которые уравнивают поведение шрифтов и элементов для разных браузеров--*/
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*--Наследование семейства шрифта тегами формы(по умолчанию не наследуют)--*/
input,
button,
textarea {
  font-family: inherit;
}

/*--Данные параметры убирают некоторые особенности в разных браузерах--*/
input::-ms-clear {
  display: none;
}
button {
  background: transparent;
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/*--Обнуление заголовков--*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
}
/**************************************************/

:root {
  --background-color: #fff;
  --color-text-first: #bf7506;
  --color-text-second: #211b12;
  --color-text-third: #dd9c3c;
  --color-links: #09f;
  --color-form: #83807c;
  --color-input: #e0dedc;
}

body {
  padding: 0 15px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}
.flex {
  display: flex;
}
.container {
  margin: 0 auto;
  max-width: 54.375rem;
}

/**media*******************/
@media (max-width: 1024px) {
  .container {
    max-width: 760px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}
/**************************/

/**header*************/
.header__logo {
}
.header__menu {
}
.menu {
}
.menu__nav {
}


.header {
  padding: 2.5rem 0;
  margin-bottom: 2.1875em;
}
.header__content {
  justify-content: space-between;
  align-items: center;
}
.menu__item {
  margin-left: 1.5rem;
}

/**media*******************/
@media (max-width: 768px) {
  .header {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .header__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__logo {
    margin-bottom: 10px;
  }
}
@media (max-width: 465px) {
  .menu__list {
    flex-direction: column;
  }
  .menu__item {
    margin: 0;
    margin-bottom: 10px;
  }
}
/**************************/

/*~~~~~~~~~~~~~~~~~~~~*/
.menu__link {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text-first);
  transition: all 0.3s ease;
}
.menu__link:hover {
  text-shadow: 0 0 2px var(--color-links);
  color: var(--color-links);
}
.menu__link:active {
  text-shadow: 0 0 2px var(--color-text-first);
  color: var(--color-text-first);
}
.menu__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-links);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.menu__link:hover::after {
  transform: scale(1);
}
.menu__link:active::after {
  transform: scale(0);
}
/*~~~~~~~~~~~~~~~~~~~~*/

/**main**************/
.main {
  margin-bottom: 10em;
}
/*-section hi---------------*/

.hi__sticker {
  width: 100%;
}
.social {
}
.social__icon {
}
.social__download-icon {
}

.hi {
  margin-bottom: 4.5em;
}
.hi__content {
  align-items: center;
}


.hi__inform {
  margin-left: 1.63em;
}
.hi__card {
  flex-direction: column;
  margin-bottom: 1.5rem;
  max-width: 34.375rem;
}
.hi__strong {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.25;
}
.hi__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 135%;
  letter-spacing: 0.02rem;
  color: var(--color-text-first);
}
.hi__text {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 135%;
  letter-spacing: 0.02rem;
  color: var(--color-text-second);
}
.hi__social {
  align-items: center;
}
.social__list {
  align-items: center;
  margin-right: 3.4375rem;
}
.social__item-link {
  display: block;
  padding: 0.5rem;
}

/**media*******************/
@media (max-width: 790px) {
  .hi__image {
    max-width: 150px;
  }
  .hi__strong {
    font-size: 36px;
  }
  .hi__title {
    font-size: 18px;
  }
  .hi__text {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .hi__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hi__inform {
    margin: 0;
    text-align: center;
  }
  .hi__social {
    justify-content: center;
  }
  .social__list {
    margin-right: 15px;
  }
}
@media (max-width: 485px) {
  .hi__social {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .social__list {
    margin: 0;
    margin-bottom: 10px;
  }
}
/**************************/

/*~~~~~~~~~~~~~~~~~~~~*/
.social__download {
  position: relative;
  align-items: center;
  padding: 0.4375rem 0.5rem;
}
.social__download::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-text-first);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.social__download:hover::after {
  transform: scale(1);
}
.social__download:active::after {
  transform: scale(0);
}
/*~~~~~~~~~~~~~~~~~~~~*/

.social__download-text {
  margin-left: 4px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  color: var(--color-text-second);
}

/*-section portfolio---------*/
.portfolio__content {
}
.card {
}
.card__image img {
  width: 100%;
}

.portfolio {
  margin-bottom: 6.5em;
}
.portfolio__title {
  margin-bottom: 0.875em;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.25;
  color: var(--color-text-first);
}
.content {
  margin: 0 -2.25em;
}
.content__wrap {
  flex: 0 1 46%;
  padding: 0 2.25rem;
}
.content__card {
  flex-direction: column;
}

/**media*******************/
@media (max-width: 790px) {
  .content {
    max-width: 760px;
    margin: 0 -18px;
  }
  .content__wrap {
    padding: 0 18px;
  }
  .content__card {
    max-width: 290px;
  }

}
@media (max-width: 768px) {
  .portfolio {
    margin-bottom: 40px;
  }
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content__wrap:first-child {
    margin-bottom: 20px;
  }
  .portfolio__title {
    font-size: 40px;
    text-align: center;
  }
}
@media (max-width: 505px) {
  .portfolio__title {
    font-size: 35px;
    margin-bottom: 20px;
  }
}
/**************************/

.card__inform {
  flex-direction: column;
  padding: 1rem;
}
.card__title {
  margin-bottom: 0.33333em;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.333333;
  color: var(--color-text-first);
}
.card__list {
  align-items: center;
  margin-bottom: 1em
}
.card__item {
  margin-right: 4px;
}
.card__item:last-child {
  margin: 0;
}
.card__item-link {
  padding: 5px 8px;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
  border: 1px solid var(--color-text-third);
  border-radius: 4px;
}
.card__text {
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-text-second);
}
.card__buttons {
  align-items: center;
}

/*~~~~~~~~~~~~~~~~~~~~*/
.card__button-link {
  position: relative;
  margin-right: 1.5625em;
  padding: 7px 8px;
  align-items: center;
}
.card__button-link:last-child {
  margin: 0;
}
.card__button-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-text-first);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.card__button-link:hover::after {
  transform: scale(1);
}
.card__button-link:active::after {
  transform: scale(0);
}
/*~~~~~~~~~~~~~~~~~~~~*/

.card__button-text {
  margin-left: 4px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-text-second);
}

/*-section about me--------*/
.about__photo {
}
.info {
}
.about__body {
}

.about-me {
  margin-bottom: 7.5em;
}
.about__content {
  margin-bottom: 2.5em;
}
.about__image {
  flex: 0 0 42%;
}
.about__photo {
  width: 360px;
  height: 440px;
  object-fit: cover;
  border-radius: 20px;
}
.about__info {
  flex: 1 1 auto/*45.5%*/;
  margin-left: 3.5em;
  padding: 1.6875rem 0 0 0;
}
.info-span {
  margin-bottom: 0.16666em;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.333333;
  color: var(--color-text-second);
}
.info__title {
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.25;
  color: var(--color-text-first);
}
.info__text {
  margin-bottom: 1em;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-text-second);
}
.text {
  margin-bottom: 32px;
}
.info__subtitle {
  margin-bottom: 0.666666em;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--color-text-third);
}
.about__menu {
}
.about__menu-subtitle {
  margin-bottom: 0.54166em;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.333333;
  color: var(--color-text-second);
}
.about__menu-list {
}
.about__menu-item {
  margin-right: 6px;
}

/**media*******************/
@media (max-width: 768px) {
  .about__content {
    flex-direction: column;
  }
  .about__image {
    margin: 0 35px 15px;
  }
  .about__photo {
    width: 100%;
    height: 350px;
  }
  .about__info {
    margin: 0 35px;
    padding: 0;
    padding-left: 15px;
  }
  .info__title {
    font-size: 1.75rem;
  }
  .about__menu {
    padding: 0 35px;
  }
  .about__menu-list {
    flex-wrap: wrap;
  }
  .about__menu-item {
    margin-bottom: 6px;
  }
}
/**************************/

.about__menu-item:last-child {
  margin: 0;
}
.about__menu-link {
  padding: 5px 8px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid var(--color-text-third);
  border-radius: 4px;
  color: var(--color-text-second);
}

/*-section connection--------*/
.connection__container {
  position: relative;
}
.connection__container::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  padding-top: 53.8%;
  width: 45.057%;
  background: url("../img/connection/hand.jpg") 0 0 / 100% no-repeat;
  transform: translate(53%, -43%);
}

/**media*******************/
@media (max-width: 992px) {
  .connection__container::before {
    display: none;
  }
}
/*************************/

.connection__body {
  margin: 0 auto;
  max-width: 27.1875em;
}
.connection__title {
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.25;
  color: var(--color-text-second);
}
.form__group {
  position: relative;
  padding-top: 9px;
  margin-bottom: 1.5em;
}
.form__label {
  position: absolute;
  top: 0;
  left: 16px;
  padding: 0 8px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-form);
  background-color: var(--background-color);
}
.form__input {
  padding: 15px;
  width: 100%;
  height: 56px;
  border: 3px solid var(--color-input);
  border-radius: 4px;
}
.form__area {
  padding: 15px;
  margin-bottom: 24px;
  width: 100%;
  min-height: 140px;
  border: 3px solid var(--color-input);
  border-radius: 4px;
}
.form__button {
  margin-left: auto;
}

/**footer************/
.footer__body {
  padding: 1rem 0 1rem 0;
  justify-content: center;
  align-items: center;
}
.footer__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-form);
}

