* {
  padding: 0;
  margin: 0;
  border: 0;
}

/*--Меняет отсчёт ширины блока для более удобной вёрстки--*/
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*--Убирает линии обводки у некоторых браузеров--*/
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

/*--Делает теги блочными--*/
header,
nav,
aside,
footer {
  display: block;
}

/*--Параметры, которые уравнивают поведение шрифтов и элементов для разных браузеров--*/
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*--Наследование семейства шрифта тегами формы(по умолчанию не наследуют)--*/
input,
button,
textarea {
  font-family: inherit;
}

/*--Данные параметры убирают некоторые особенности в разных браузерах--*/
input::-ms-clear {
  display: none;
}
button {
  background: transparent;
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/*--Обнуление заголовков--*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
}
/**************************************************/

:root {
  --background-color: #fff;
  --color-text-first: #bf7506;
  --color-text-second: #211b12;
  --color-text-third: #dd9c3c;
  --color-links: #09f;
  --color-form: #83807c;
  --color-input: #e0dedc;
  --background-menu: #fff;
}

body {
  padding: 0 15px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.flex {
  display: flex;
}
.container {
  margin: 0 auto;
  max-width: 54.375rem;
}

/**media*******************/
@media (max-width: 640.3125em) {
  .container {
    max-width: 47.5rem;
  }
}
@media (max-width: 48em) {
  .container {
    max-width: 90%;
  }
}
/**************************/

/**header*************/
.burger {
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  z-index: 2;
}
.header__body {
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 105px;
}
.header__logo {
  position: relative;
  flex: 0 0 25px;
  z-index: 3;
}
.header__logo img {
  max-width: 100%;
}
.header__burger {
  display: none;
}
.header__list {
  position: relative;
  z-index: 2;
}
.header__item {
  margin-left: 1.5em;
}

/*~~~~~~~~~~~~~~~~~~~~*/
.header__link {
  position: relative;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-text-first);
  transition: all 0.3s ease;
}
.header__link:hover {
  
  color: var(--color-links);
}
.header__link:active {
  text-shadow: 0 0 2px var(--color-text-first);
  color: var(--color-text-first);
}
.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-links);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.header__link:hover::after {
  transform: scale(1);
}
.header__link:active::after {
  transform: scale(0);
}
/*~~~~~~~~~~~~~~~~~~~~*/

/**media*******************/
  @media (max-width: 47.99em) {
    body.lock {
      overflow: hidden;
    }
    .header__body {
      height: 4.75em;
    }
    .header__burger {
      position: relative;
      display: block;
      width: 30px;
      height: 20px;
      z-index: 3;
      cursor: pointer;
    }
    .header__burger::before, 
    .header__burger::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--color-text-third);
      transition: all 0.4s ease;
    }
    .header__burger::before {
      top: 0;
    }
    .header__burger::after {
      bottom: 0;
    }
    .header__burger.active::before {
      transform: rotate(45deg);
      top: 9px;
    }
    .header__burger.active::after {
      transform: rotate(-45deg);
      bottom: 9px;
    }
    .header__burger.active span {
      transform: scale(0);
    }
    .burger__line {
      position: absolute;
      top: 9px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--color-text-third);
      transition: all 0.4s ease;
    }
    
    .header__menu {
      position: fixed;
      top: -100%;
      left: 0;
      margin-top: 4.75em;
      padding: 5.75rem 1rem 1.5rem 1rem;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: var(--background-menu);
      transition: all 0.4s ease;
    }
    .header__menu.active {
      top: 0;
    }
    .header__list {
      flex-direction: column;
      align-items: center;
    }
    .header__item {
      margin: 0 0 2em 0;
    }
    .header__link {
      font-size: 2rem;
    }
  }
/**************************/


/**main**************/
.main {
  padding-top: 8.125rem;
  margin-bottom: 10em;
}
@media (max-width: 47.99em) {
  .main {
    padding-top: 6rem;
  }
}

/*-section hi---------------*/
.social {
}
.social__icon {
}
.social__download-icon {
}


.hi__sticker {
  width: 100%;
}
.hi {
  margin-bottom: 4.5em;
}
.hi__content {
  align-items: center;
}
.hi__inform {
  margin-left: 1.63em;
}
.hi__card {
  flex-direction: column;
  margin-bottom: 1.5rem;
  max-width: 34.375rem;
}
.hi__strong {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.25;
}
.hi__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 135%;
  letter-spacing: 0.02rem;
  color: var(--color-text-first);
}
.hi__text {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 135%;
  letter-spacing: 0.02rem;
  color: var(--color-text-second);
}
.hi__social {
  align-items: center;
}
.social__list {
  align-items: center;
  margin-right: 3.4375rem;
}
.social__item-link {
  display: block;
  padding: 0.5rem;
}

/*~~~~~~~~~~~~~~~~~~~~*/
.social__download {
  position: relative;
  align-items: center;
  padding: 0.4375rem 0.5rem;
}
.social__download::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-text-first);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.social__download:hover::after {
  transform: scale(1);
}
.social__download:active::after {
  transform: scale(0);
}
/*~~~~~~~~~~~~~~~~~~~~*/

.social__download-text {
  margin-left: 4px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  color: var(--color-text-second);
}

/**media*******************/
@media (max-width: 49.375em) {
  .hi__image {
    max-width: 9.375rem;
  }
  .hi__strong {
    font-size: 2.25rem;
  }
  .hi__title {
    font-size: 1.125rem;
  }
  .hi__text {
    font-size: 1.125rem;
  }
}
@media (max-width: 47.99em) {
  .hi {
    margin-bottom: 3.5em;
  }
  .hi__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hi__inform {
    margin: 0;
    text-align: center;
  }
  .hi__social {
    justify-content: center;
  }
  .social__list {
    margin-right: 1em;
  }
}
@media (max-width: 30em) {
  .hi__social {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .social__list {
    margin: 0;
    margin-bottom: 0.625em;
  }
}
/**************************/

/*-section portfolio---------*/
.portfolio__content {
}
.card {
}
.card__image img {
  max-width: 100%;
}

.portfolio {
  margin-bottom: 6.5em;
}
.portfolio__title {
  margin-bottom: 0.875em;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.25;
  color: var(--color-text-first);
}
.content {
  margin: 0 -2.25em;
}
.content__wrap {
  flex: 0 1 46%;
  padding: 0 2.25rem;
}
.content__card {
  flex-direction: column;
}
.card__image img {
  max-width: 100%;
}
.card__inform {
  flex-direction: column;
  padding: 1rem;
}
.card__title {
  margin-bottom: 0.33333em;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.333333;
  color: var(--color-text-first);
}
.card__list {
  align-items: center;
  margin-bottom: 1em
}
.card__item {
  margin-right: 4px;
}
.card__item:last-child {
  margin: 0;
}
.card__item-link {
  padding: 5px 8px;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
  border: 1px solid var(--color-text-third);
  border-radius: 4px;
}
.card__text {
  margin-bottom: 1.125em;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-text-second);
}
.card__buttons {
  align-items: center;
}

/**media*******************/
@media (max-width: 49.375em) {
  .content {
    max-width: 47.5rem;
    margin: 0 -1.125em;
  }
  .content__wrap {
    padding: 0 1.125rem;
  }
  .content__card {
    max-width: 18.125rem;
  }
}
@media (max-width: 47.99em) {
  .portfolio {
    margin-bottom: 2.5em;
  }
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content__wrap:first-child {
    margin-bottom: 1.25em;
  }
  .portfolio__title {
    font-size: 2.5rem;
    text-align: center;
  }
}
/**************************/

/*~~~~~~~~~~~~~~~~~~~~*/
.card__button-link {
  position: relative;
  margin-right: 1.5625em;
  padding: 7px 8px;
  align-items: center;
}
.card__button-link:last-child {
  margin: 0;
}
.card__button-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-text-first);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.card__button-link:hover::after {
  transform: scale(1);
}
.card__button-link:active::after {
  transform: scale(0);
}
/*~~~~~~~~~~~~~~~~~~~~*/

.card__button-text {
  margin-left: 4px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-text-second);
}

/*-section about me--------*/
.about__photo {
}
.info {
}
.about__body {
}

.about-me {
  margin-bottom: 7.5em;
}
.about__content {
  margin-bottom: 2.5em;
}
.about__image {
  flex: 0 0 42%;
}
.about__photo {
  width: 360px;
  height: 440px;
  object-fit: cover;
  border-radius: 20px;
}
.about__info {
  flex: 1 1 auto/*45.5%*/;
  margin-left: 3.5em;
  padding: 1.6875rem 0 0 0;
}
.info-span {
  margin-bottom: 0.16666em;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.333333;
  color: var(--color-text-second);
}
.info__title {
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.25;
  color: var(--color-text-first);
}
.info__text {
  margin-bottom: 1em;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-text-second);
}
.text {
  margin-bottom: 2em;
}
.info__subtitle {
  margin-bottom: 0.666666em;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--color-text-third);
}
.about__menu {
}
.about__menu-subtitle {
  margin-bottom: 0.54166em;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.333333;
  color: var(--color-text-second);
}
.about__menu-list {
}
.about__menu-item {
  margin-right: 6px;
}

/**media*******************/
@media (max-width: 47.99em) {
  .about__content {
    flex-direction: column;
  }
  .about__image {
    margin: 0 2.25em 1em;
  }
  .about__photo {
    width: 100%;
    height: 350px;
  }
  .about__info {
    margin: 0 2.25em;
    padding: 0;
    padding-left: 1rem;
  }
  .info__title {
    font-size: 1.75rem;
  }
  .about__menu {
    padding: 0 2.25rem;
  }
  .about__menu-list {
    flex-wrap: wrap;
  }
  .about__menu-item {
    margin-bottom: 6px;
  }
}
/**************************/

.about__menu-item:last-child {
  margin: 0;
}
.about__menu-link {
  padding: 5px 8px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid var(--color-text-third);
  border-radius: 4px;
  color: var(--color-text-second);
}

/*-section connection--------*/
.connection__container {
  position: relative;
}
.connection__container::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  padding-top: 53.8%;
  width: 45.057%;
  background: url("../img/connection/hand.jpg") 0 0 / 100% no-repeat;
  transform: translate(63%, -52%);
}

/**media*******************/
@media (max-width: 62em) {
  .connection__container::before {
    display: none;
  }
}
/*************************/

.connection__body {
  margin: 0 auto;
  max-width: 27.1875em;
}
.connection__title {
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.25;
  color: var(--color-text-second);
}
.form__group {
  position: relative;
  padding-top: 9px;
  margin-bottom: 1.5em;
}
.form__label {
  position: absolute;
  top: 0;
  left: 16px;
  padding: 0 8px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-form);
  background-color: var(--background-color);
}
.form__input {
  padding: 1rem;
  width: 100%;
  height: 56px;
  border: 3px solid var(--color-input);
  border-radius: 4px;
}
.form__area {
  padding: 1rem;
  margin-bottom: 1.5em;
  width: 100%;
  min-height: 140px;
  border: 3px solid var(--color-input);
  border-radius: 4px;
}
.form__button {
  margin-left: auto;
}

/**footer************/
.footer__body {
  padding: 1rem 0 1rem 0;
  justify-content: center;
  align-items: center;
}
.footer__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-form);
}

